<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Products</title>
    </head>
    <body>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At fuga non commodi, a nam facilis aperiam nemo ex
            porro nulla ratione id, esse accusantium tempora asperiores, eligendi illum exercitationem ab? Sequi neque
            hic laborum odio ducimus, dolorem blanditiis, voluptatibus laboriosam commodi quia, asperiores eius
            perspiciatis doloremque! Quo dicta beatae autem ratione quibusdam odit error! Aperiam maiores perspiciatis
            ullam voluptatibus ex. Assumenda fugit iste possimus nam est, odio corporis quae deleniti eos aliquam
            numquam consequatur laborum quia fugiat adipisci repellendus totam vel, tempore, tenetur veritatis
            molestiae. Maxime ratione dolor atque facere!
        </p>
        <h1><%= product.title %></h1>
        <p><%= product.description %></p>
        <p><%= product.price %></p>
        <pre><%= JSON.stringify(product, null, 2) %></pre>
    </body>
</html>
