/* blue {
    color: #1686d9;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    padding: 0 15px;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    img {
        width: 30px;
    }
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 6px;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.product {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #444;
    margin-bottom: 10px;
}

p {
    color: #666;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

a.view-product,
a.add-cart {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

a.view-product:hover,
a.add-cart:hover {
    background-color: #2980b9;
}

button.delete-button {
    display: inline-block;
    background-color: #1789d4;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

button.delete-button:hover {
    background-color: #2980b9;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1f487e;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    background-color: #1d3461;
    color: #fff;
}

.delete-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1f487e;
    color: #fff;
}

.delete-button:hover {
    text-decoration: none;
    background-color: #1d3461;
    color: #fff;
}

/* Modal */
.button {
    background-color: blue;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    margin-top: 10px;
    display: inline-block;

    &:hover {
        background-color: white;
        color: blue;
        border: 2px solid blue;
    }
}

input,
textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 13px;

    &:focus {
        border-color: #679b9b;
        outline: none;
        color: #637373;
    }
}

dialog::backdrop {
    background-color: hsl(250, 100%, 50%, 0.25);
}

dialog {
    width: 70%;
    height: 80%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    background-color: white;
}
