body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

div {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #444;
    margin-bottom: 10px;
}

p {
    color: #666;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

a.view-product,
a.remove-from-cart {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

a.view-product:hover,
a.remove-from-cart:hover {
    background-color: #2980b9;
}

button.delete-button {
    display: inline-block;
    background-color: #1789d4;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

button.delete-button:hover {
    background-color: #2980b9;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1f487e;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    background-color: #1d3461;
    color: #fff;
}
.delete-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1f487e;
    color: #fff;
}

.delete-button:hover {
    text-decoration: none;
    background-color: #1d3461;
    color: #fff;
}
