<h1>Modificá tus datos</h1>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input id="inputUsername" name="username" type="text" placeholder="username" autocomplete="on" readonly><br>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input id="inputNombre" name="name" type="text" placeholder="name" autocomplete="on"><br>
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input id="inputLastname" name="lastname" type="text" placeholder="lastname" ><br>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="inputEmail" name="email" type="email" placeholder="email" ><br>
  </div>
  <button type="submit">Updated!</button>
</form>

<script src="/public/js/editprofile.js"></script>