<body>
    <h1>{{title}}</h1>
    <form>
        <label for='email'>email</label>
        <input type='email' name='email' placeholder='email' /><br />
        <label for='password'>password</label>
        <input name='password' type='password' placeholder='password' /><br />
        <button type='submit'>Reset Password!</button>
    </form>
    <p>Do you remeber? try again Click <a href='/login'>here</a></p>
    <script src='/public/js/resetpassword.js'></script>
</body>